.dashbtn{
    background: #6EB6FF;
    padding: 0.7rem 1rem;
}
.dasheading{
    color: #6EB6FF;
}
.dashboard{
    flex:1;
    height: 80vh;
}
.dashabt{
    height: 35vh;
    color: rgb(115,115,115);
}
@media only screen and (max-width: 480px) {
    .dashabt{
        height: 55vh;
    }
}